aiohttp==3.6.2
aniso8601==8.0.0
appdirs==1.4.3
asn1crypto==1.3.0
async-timeout==3.0.1
attrs==19.3.0
Automat==0.8.0
base58==1.0.3
Beaker==1.11.0
CacheControl==0.12.6
cachetools==4.0.0
caffeine-ng==3.4.2
cffi==1.13.2
chardet==3.0.4
Cheetah3==3.2.4
Click==7.0
colorama==0.4.3
colorlog==4.1.0
constantly==15.1.0
contextlib2==0.6.0
coverage==5.0.3
cryptoconditions==0.8.0
cryptography==2.3.1
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.1
deluge==2.0.4.dev23
distlib==0.3.0
distro==1.4.0
docopt==0.6.2
ewmh==0.1.6
firebase-admin==3.2.1
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
gcloud==0.17.0
GeoIP==1.3.2
gevent==1.4.0
google-api-core==1.16.0
google-api-python-client==1.7.11
google-auth==1.10.1
google-auth-httplib2==0.0.3
google-cloud-core==1.2.0
google-cloud-firestore==1.6.1
google-cloud-storage==1.25.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
greenlet==0.4.15
grpcio==1.26.0
gufw==19.10.0
gunicorn==19.9.0
html5lib==1.0.1
httplib2==0.16.0
hyperlink==19.0.0
idna==2.8
imageio==2.6.1
importlib-metadata==0.23
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==2.5.1
jws==0.1.3
kiwisolver==1.1.0
lensfun==0.3.2
logstats==0.2.1
louis==3.12.0
Mako==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.2
more-itertools==8.1.0
msgpack==0.6.2
multidict==4.7.4
networkx==2.4
npyscreen==4.10.5
numpy==1.18.1
oauth2client==3.0.0
ordered-set==3.1.1
packaging==18.0
pacman-mirrors==4.16.2
pdfkit==0.6.1
pep517==0.6.0
Pillow==6.2.1
pluggy==0.13.1
ply==3.11
progress==1.5
protobuf==3.11.2
psutil==5.6.7
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.18.2
pycparser==2.19
pycryptodome==3.4.3
pycups==1.9.74
pycurl==7.43.0.3
PyGObject==3.34.0
PyHamcrest==1.9.0
pymongo==3.10.1
PyNaCl==1.1.2
pyOpenSSL==19.1.0
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.0
Pyrebase==3.0.27
pysha3==1.0.2
pytest==5.3.2
pytest-cov==2.8.1
pytest-pythonpath==0.7.3
python-dateutil==2.8.1
python-jwt==2.0.1
python-libtorrent==1.2.3
python-rapidjson==0.6.3
python-rapidjson-schema==0.1.1
python-xlib==0.26
pytoml==0.1.21
pytz==2019.3
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3
regex==2020.1.8
rencode==1.0.6
requests==2.11.1
requests-toolbelt==0.7.0
retrying==1.3.3
rsa==4.0
scikit-image==0.16.2
scipy==1.4.1
scons==3.1.2
service-identity==18.1.0
setproctitle==1.1.10
six==1.13.0
team==1.0
Twisted==19.10.0
ufw==0.36
uritemplate==3.0.1
urllib3==1.25.7
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
yarl==1.4.2
zipp==0.6.0
zope.interface==4.7.1
